div#r1{
    color: rgb(117, 10, 46);
    background-color: burlywood;
    margin:auto;
    width: 600px;
    height: 2%;
    float: left;
}

div#r2{
    color: rgb(117, 10, 46);
    background-color: burlywood;
    margin:auto;
    width: 600px;
    height: 2%;
    float: right;
}